<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColorHours" title="@Strings.ForegroundColorHoursTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColorMinutes" title="@Strings.ForegroundColorMinutesTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColorSeconds" title="@Strings.ForegroundColorSecondsTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HighLightColor" title="@Strings.HighLightColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.LeadingZero" title="@Strings.LeadingZeroTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowSeconds" title="@Strings.ShowSecondsTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowNotification" title="@Strings.ShowNotificationTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseSleepMode" title="@Strings.UseSleepModeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UltraSleepMode" title="@Strings.UltraSleepModeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.BatteryLevel" title="@Strings.BatteryLevelTitle">
        <settingConfig type="numeric" min="0" max="100" errorMessage="@Strings.BatteryLevelError"/>
    </setting>
    <setting propertyKey="@Properties.BatteryLevelCritical" title="@Strings.BatteryLevelCriticalTitle">
        <settingConfig type="numeric" min="2" max="30" errorMessage="@Strings.BatteryLevelCriticalError"/>
    </setting>
    
   <setting propertyKey="@Properties.ShowMove" title="@Strings.ShowMoveTitle">
        <settingConfig type="boolean" />
    </setting>
	<setting propertyKey="@Properties.MoveDisplayType" title="@Strings.MoveDisplayTypeTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.MoveCircle</listEntry>
            <listEntry value="2">@Strings.MoveIcons</listEntry>
        </settingConfig>
    </setting>    
    <setting propertyKey="@Properties.MoveColor" title="@Strings.MoveColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

</settings>
